@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);


h1, h2, h3, p, body, header, #wordsIDName{
    -webkit-appearance: none;
    font-family: 'Noto Sans Japanese',   sans-serif !important;
    font-weight: 500;
}

h1{
    -webkit-appearance: none;
    font-family: 'Noto Sans Japanese',   sans-serif !important;
    font-weight: 500;
}

h1{
    padding:1px;
    margin: 0px 5px;
}

p{
    background: #000000;
    color: #ffffff;
}

hr{
    background-color: #ffffff;
    border-color: #ffffff;
}

#word, #result{
    margin-top: 20%;
    font-size: 60px;
    
}

header{
    padding: none;
    margin-left: 60px;
    height: 10%;
    font-size: 12px;
}

.cursorClick:hover{
    cursor: pointer;
}


#wordsID, #answer, #StartToCheck, #next, .backHomeButton{
    font-size: 30px;
}


#answer{
    position: relative;
    width: 50%;
}


#word, #wordsID, #answer, #result, #StartToCheck, #next{
    margin: 5px 5px;
}

#wordsID, #answer, #StartToCheck, #next{
    padding: 20px 40px;
}

.divNext{
    padding-right: 15px;
    text-align: left;
}


.questionHeader{
    display: block;
    position:relative;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-width: 1.5px;
    border-bottom: 1.5px solid#ffffff;
}
.questionHeader::after { /* 矢印の表示設定 */
    position: absolute;
    margin: auto;
    bottom: 50%;
    
    right: 20px;
    width: 10px;
    height: 10px;
    content: "";
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(135deg);
    /*visibility: hidden;　/* マウスオーバー前は非表示 */
}



#wordsIDName{
    margin-right: 54px;
    font-size: 30px;
}



#answer, #StartToCheck, #next{
    border-radius: 20px;
}



#answer {
    border: none;
    color: white;
    background:rgba(255, 255, 255, 0.2);
}
#answer:not(:disabled):hover{
    background:rgba(255, 255, 255, 0.3);
}
#answer:disabled{
    color: rgba(255, 255, 255, 0.7);
}


#StartToCheck{
    border: none;
    color: #ff8349;
    background: white;
}
#StartToCheck:not(:disabled):hover{
    background:rgba(255, 255, 255, 0.8);
}
#StartToCheck:disabled{
    color: rgba(255, 131, 73, 0.7);
    background:rgba(255, 255, 255, 0.7);
}
#StartToCheck:active{
    background:rgba(255, 255, 255, 0.5);
}



#next{
    border: none;
    color: #464646;
    background: white;
}
#next:hover{
    color: rgba(106, 106, 106, 0.8);
    background:rgba(255, 255, 255, 0.8);
}
#next:active{
    background:rgba(255, 255, 255, 0.5);
    color: rgba(106, 106, 106, 0.8);
}



#selectWordsID{
    overflow-y: scroll;
    top: 125px;
    bottom: 15px;
    position: absolute;
    right: 70%;
    left: 3%;
}

#questionWord{
    overflow-y: scroll;
    top: 125px;
    bottom: 15px;
    position: absolute;
    right: 5%;
    left: 35%;
}

#closed{
    position: fixed;
    top: 15vw;
}


#listWordsID{
    padding: 0;
    padding-right: 15px;
    margin: 0;
}

#listWordsID li:last-child{
    border-bottom: 1.5px solid#ffffff;
}


.areaSelect{
    background:rgba(0, 0, 0, 0);
    padding: 15px;
    padding-right: 0px;
    border-top: 1.5px solid#ffffff;
}

.areaSelect:hover{
    background:rgba(255, 255, 255, 0.2);
}

.areaSelect:active{
    background:rgba(255, 255, 255, 0.2);
}



.wordsIDSelected{
    background:rgba(255, 255, 255, 0.2);
}



.backHome{
    padding-top: 15px;
}


.backHomeButton{
    margin-left: none;
    display: block;
    border: none;
    position:relative;
    color: rgba(255, 131, 73, 1);
    background-color: white;
    padding-left: 30px;
}
.backHomeButton:hover{
    color: rgba(255, 81, 0, 1);
    background:rgba(255, 255, 255, 0.8);
    font-weight:bold;
}
.backHomeButton:active{
    background:rgba(255, 255, 255, 0.5);
    color: rgba(255, 131, 73, 0.5);
}

.backHomeButton::before { /* 矢印の表示設定 */
    position: absolute;
    margin: auto;
    top: 49%;
    bottom: 50%;
    left: 12px;
    width: 12px;
    height: 12px;
    content: "";
    border-top: 2px solid rgba(255, 131, 73, 1);
    border-right: 2px solid rgba(255, 131, 73, 1);
    transform: rotate(225deg);
    /*visibility: hidden;　/* マウスオーバー前は非表示 */
}
.backHomeButton:hover:before { /* 矢印の表示設定 */
    border-top: 3px solid rgb(255, 81, 0);
    border-right: 3px solid rgb(255, 81, 0);
    transform: rotate(225deg);
    /*visibility: hidden;　/* マウスオーバー前は非表示 */
}
.backHomeButton:active:before { /* 矢印の表示設定 */
    border-top: 4.5px solid rgba(255, 131, 73, 0.5);
    border-right: 4.5px solid rgba(255, 131, 73, 0.5);
    transform: rotate(225deg);
    /*visibility: hidden;　/* マウスオーバー前は非表示 */
}



.newBlock{
    display: block;
    position:relative;
    background-color: transparent;
    padding-right: 54px;
}

.newBlock::after { /* 矢印の表示設定 */
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 20px;
    width: 10px;
    height: 10px;
    content: "";
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    /*visibility: hidden;　/* マウスオーバー前は非表示 */
}



body{
    background-color: #ff9a6b;
    color: white;
    /*background-image: url("images/kirby-01-02.png") !important;*/
    background-size: cover;
    background-repeat: no-repeat;
}





.menuButton{
    position: fixed;
    top: 8px;
    left: 15px;
    margin: 10px 0px 10px 0px;
    width: 35px;
    height: 15px;
    border-top: 1.5px solid#ffffff;
    border-bottom: 1.5px solid#ffffff;
}
.menuOutButton {
    position: relative;
    width: 60px;
    height: 60px;
}
.menuOutButton::before, .menuOutButton::after { /* 共通設定 */
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px; /* 棒の幅（太さ） */
    height: 50px; /* 棒の高さ */
    background: #333;
} 
.menuOutButton::before {
    transform: translate(-50%,-50%) rotate(45deg);
}
.menuOutButton::after {
    transform: translate(-50%,-50%) rotate(-45deg);
}

#menuBar{   
    color: #000000;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    position: fixed;
}
.menuBarClass{
    left: 0;
    bottom: 100%;
    height: 100vh;
    width: 100vw;
}
.menuBarMenu{
    position: relative;
    top: 15%;
    font-size: 2em;
}

.modeDiv{
    background:rgba(55, 99, 241, 0.3);
}

.modeBar{
    padding-left: 10px;
    padding-bottom: 5px;
    background:rgba(255, 255, 255, 0.3);
}
.menuBarSlideInAnimation{
    text-align: center;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    animation-duration: 0.4s;
    animation-name: menuBarSlideIn;
}
.menuBarSlideOutAnimation{
    animation-duration: 0.4s;
    animation-name: menuBarSlideOut;
}





#imagePlot{
    height: 45vh;
    object-fit: cover;
    padding-bottom: 10px;
}





#modePlot{
    font-size: 20px;
    text-align: right;
}













@media screen and (max-width: 800px){

    #wordDiv{
        position: relative;
        right: 0%;
        left: 0%;
    }

    #selectWordsID{
        top: 85px;
        visibility: collapse;
        position: absolute;
        bottom: 15px;
        left: 2.5%;
        right: 2.5%;
    }

    #questionWord{
        top: 85px;
        border-bottom: 1.5px solid#ffffff;
        position: absolute;
        left: 2.5%;
        right: 2.5%;
    }


    .questionHeaderAnimation{
        top: 125px;
        background-color: #ff9a6b;
        visibility: visible !important;
        animation-duration: 0.4s;
        animation-name:wordsListslidein;
        border-top: 1.5px solid#ffffff;
        border-bottom: 1.5px solid#ffffff;
        bottom: 15px;
    }


    .questionWordAnimation{
        animation-duration: 0.4s;
        animation-name: wordSlidein;
    }
    
    



    .questionHeader::after { /* 矢印の表示設定 */
        border-top: 3px solid rgba(255, 255, 255, 0);
        border-right: 3px solid rgba(255, 255, 255, 0);
        /*visibility: hidden;　/* マウスオーバー前は非表示 */
    }
    .questionHeader::before { /* 矢印の表示設定 */
        position: absolute;
        margin: auto;
        bottom: 40%;
        
        left: 20px;
        width: 15px;
        height: 15px;
        content: "";
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
        transform: rotate(225deg);
        /*visibility: hidden;　/* マウスオーバー前は非表示 */
    }
    .questionHeader:hover{
        background:rgba(255, 255, 255, 0.3);
        color: rgba(255, 131, 73, 0.7);    
        cursor: pointer;
    }
    .questionHeader:active{
        background:rgba(255, 255, 255, 0.5);
        color: rgba(255, 131, 73, 0.5);    
    }

    #wordsIDName{
        margin-left: 54px;
    }

    body{
        /*background-image: url("images/kirby-02-02.png") !important;*/
        font-size: 100%;
        text-align: center;
    }


    h1{
        padding:1px;
        margin: 0px 5px;
        font-size: 60%;
    }

    h2{
        font-size: 150%;
    }
    
    p{
        font-size: 100%;
    }
    
    #word, #result{
        margin-top: 3%;
        font-size: 150%;
        
    }
    
    header{
        margin-left: 0;
        height: 6%;
    }

    .backHomeButton{
        font-size: 150%;
    }
    
    
    #wordsID, #answer, #StartToCheck, #next{
        font-size: 100%;
    }

    .headerName{
        font-size: 20px;
    }



    .backHomeButton::before { /* 矢印の表示設定 */
        position: absolute;
        margin: auto;
        top: 49%;
        bottom: 50%;
        left: 8px;
        width: 8px;
        height: 8px;
        content: "";
        transform: rotate(225deg);
        /*visibility: hidden;　/* マウスオーバー前は非表示 */
    }


    .divNext{
        padding-right: 0px;
        text-align: center;
    }



    .questionHeader{
        border-top: 1.5px solid#ffffff;
    }


    .menuOutButton{
        top: 90px;
    }
    .menuButton{
        top: 5px;
    }




    #imagePlot{
        height: 25vh;
        text-align: center;
        margin: auto;
        padding-bottom: 10px;
    }

    #modePlot{
        font-size: 18px;
        position: absolute;
        right: 0%;
        left: 0%;
        top: 54px;
        text-align: center;
    }
    
}














@keyframes wordsListslidein {
    from {
        right: 102.5%;
        left: -97.5%;
      }

      60% {
        right: -2.5%;
        left: 7.5%;
      }
    
      to {
        right: 2.5%;
        left: 2.5%;
      }
    
}


@keyframes wordSlidein {
    from {
        right: -97.5%;
        left: 102.5%;
      }
      60% {
        right: 7.5%;
        left: -2.5%;
      }
      to {
        right: 2.5%;
        left: 2.5%;
      }
    
}

@keyframes menuBarSlideIn {
    from {
        bottom:100vh;
    }
    to {
        bottom:0vh;
    }
}

@keyframes menuBarSlideOut {
    from {
        bottom:0vh;
    }
    to {
        bottom:100vh;
    }
}
